 .nav-bar{
    position: sticky;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    top: 0%;
    width: 100%;
    opacity: 0.95;
    height: 15%;
}

.logo-img{
    height: 4rem !important;
}

.nav-bar-cont{
    position: absolute !important;
    top: 0%;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
    bottom: 5%;
} 